*~
*.swp
.DS_Store
*.txt
screenshots/*
logs/
log/
*.log
*.o
*.d
source_code/objs/
filesync
filesync-aarch64
*.temp
*.sync_tmp
rootfs/rootfs_staging/
rootfs/rootfs.cpio.gz
rootfs/*.tar.bz2
qemu/Image
qemu/rootfs.ext4
qemu/linux-*/
qemu/*.tar.xz
