*~
*.swp
.DS_Store
*.txt
screenshots/*
logs/
log/
*.log
*.o
*.d
objs/
*.temp
*.sync_tmp
source_code/filesync/filesync
source_code/filesync/filesync-aarch64
source_code/ipc/sensor_reader
source_code/ipc/logger_app
source_code/ipc/sensor_reader-aarch64
source_code/ipc/logger_app-aarch64
rootfs/rootfs_staging/
rootfs/rootfs.cpio.gz
rootfs/*.tar.bz2
qemu/Image
qemu/rootfs.ext4
qemu/linux-*/
qemu/*.tar.xz
